<style>
    .box {
        margin-top: 10%;
    }
    
    .subBox {
        /* background-color: yellow; */
        text-align: center;
    }
    
    .icons {
        margin: 40 40 40 40;
        /* background-color: red; */
    }
    
    .iconImg {
        max-width: 220px;
    }
    
    .inline {
        display: inline-block;
    }
</style>
<div class="box">
    <div class="subBox">
        <div class="inline icons">
            <img class="iconImg" src="https://icon-library.net/images/user-profile-icon/user-profile-icon-12.jpg" onclick="window.location.href='app.piscinafacil.com.br/verCurriculo.php'">
        </div>
        <div class="inline icons">
            <img id="gameIcon" class="iconImg" src="https://www.pngkey.com/png/full/205-2054259_games-games-icon-circle-png.png" onclick="window.location.href='app.piscinafacil.com.br/treinamento#'">
        </div>
        <div class="inline icons">
            <img class="iconImg" src="https://cdn2.iconfinder.com/data/icons/flat-education-icons-5/96/Chemistry-512.png">
        </div>
        <div class="inline icons">
            <img class="iconImg" src="https://www.concrete2you.com/Concrete2You/Static/images/icons/concrete-calculator.png">
        </div>
    </div>
    <div class="subBox">
        <div class="inline icons">
            <img class="iconImg" src="https://cdn1.iconfinder.com/data/icons/round-ui/132/59-512.png">
        </div>
        <div class="inline icons">
            <img class="iconImg" src="https://cdn2.iconfinder.com/data/icons/business-272/64/PARTNERSHIP-512.png" onclick="window.location.href='app.piscinafacil.com.br/leads'">
        </div>
        <div class="inline icons">
            <img class="iconImg" src="https://cdn4.iconfinder.com/data/icons/flat-rounded-seo-icons/80/directory-submission-512.png">
        </div>
        <div class="inline icons">
            <img class="iconImg" src="https://cdn3.iconfinder.com/data/icons/science-color-set/128/round_bottom_flask_science_color_b-512.png">
        </div>
    </div>
</div>